.container_main_todo_active-todo{
	display: inline-block;
	width:73%;
}

.container_main_todo_button{
	margin: 10px;
	height: 30px;
	background-color: #edede4;
	border: 0.5px solid #edede4;

}

.title{
	word-break: break-all;
	bottom: 0;
	width: 100%;
}

.container_main_todo{
	display: flex;
    color: rgb(59, 53, 23);
    background-color: rgb(181, 176, 152);
    max-width: 60%;
    padding: 20px 20px;
    font-size: 1.5rem;
    margin:20px  auto;
}
.div{
	width: 100%;
	position: relative;
	display:flex
}

.button{
	margin: 10px;
	height: 30px;
	background-color: rgb(242, 243, 237);
	border: 0.5px rgb(242, 243, 237);
	color:rgb(59, 53, 23);
	text-decoration: none;
	font-size: 2rem;
	margin-bottom: 40px;
}