.container_main_todo_active-todo{
	display: inline-block;
	width:73%;
}

.container_main_todo_button{
	width:10%;
	margin: 10px;
	height: 30px;
	background-color: #edede4;
	border: 0.5px solid #edede4;
}
