.container_main_todo_input{
	width:100%;
	background-color: rgb(181, 176, 152);
	font-size: 1.4rem;
	color: rgb(59, 53, 23);
}

.container_main_todo_button{
	margin: 10px;
	height: 30px;
	background-color: #edede4;
	border: 0.5px solid #edede4;
}

.form{
	width:100%;
	display: flex;
}