.container_main_todo_input{
	display: inline-block;
	width:73%;
	background-color: rgb(181, 176, 152);
}

.container_main_todo_input{
	display: inline-block;
	width:73%;
	background-color: rgb(181, 176, 152);
}
