body {
	margin: 0;
	font-family: "Oswald", serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	background-color:rgb(242, 243, 237)
}

code {
    font-family: "Oswald", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
